.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar ul{
  background-color: black;
  color:white;
  list-style: none;
  padding-right: 10px;
  padding-left: 2px;
}
.col-md-2{
  list-style: none;
  background-color: black; 
  color: white;
}
.sidebar ul li:hover{
  background-color: skyblue;
}
.bg-grey{
  background-color: rgba(80, 70, 70, 0.207);
  
}
img.dp{
  border-radius: 50%;
  height: 25px;
  width: 25x;
  cursor:pointer;
}
